.container{
    display: flex;
    flex-wrap: wrap;
}
.child{
    padding: 0px 5px 20px 5px;
    flex-grow: 1;
    margin: 10px;
    border: 5px solid black;
    border-radius: 20px 20px 20px 0px;
    box-shadow: 0 8px 6px -6px black;
    background-color: white;
    font-family: sans-serif;
}
.title{
    display: flex;
    font-family: Montserrat;
    align-items: center;
    width: 100%;
    color: #ffcc00;
    background-color: black;
    font-size: 35px;
    padding: 5px 0px 5px 30px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: auto;
}
.page{
    background-color: #ffcc00;
    height: 1000px;
    margin: 0;
}
button{
    padding: 5px;
    background-color: #ffcc00;
    font-weight: bold;
    border-radius: 30px;
}
button:hover{
    background-color: #c0c0c0;
}
button:active{
    color:gold;
}
input{
    border-color: black;
    font-family: sans-serif;
}
h2{
    text-decoration: underline;
}
ol{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    list-style-position: inside;
    padding-right: 75px;
}
li{
    background-color: #ffcc00;
    border: 3px solid black;
    margin-bottom: 10px;
    padding: 8px 0px 8px 5px;
}
.flex{
    display: flex;
    align-content: center;
}